<h1>Boards INDEX</h1>

<ul>
  <% @boards.each do |board| %>
    <li>
      <a href="<%= board_path(board) %>">
        <%= board.name %>
    </li>
  <% end %>
</ul>

<%= link_to "Generate New Board", new_board_path %>