.input-div {
  padding-top: 15px;
}

.button-div {
  padding-top: 15px;
}

.board {
  padding: 20px;
}

.board-rows {
  padding-top: 0px;
  word-break: keep-all;
}

.error-message {
  color: #D63301;
}